<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Logging you in via {{{oauthProviderDisplay}}}...</title>
    <meta name="description" content="Logging you in via {{{oauthProviderDisplay}}}...">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body { text-align: center; }
    </style>
</head>
<body>
<p class="display">{{display}}</p>
<p class="origin-error" hidden>
    Couldn't verify you came from an authorized website. To protect your account, you'll need to return to
    <a href="{{returnLink.url}}" target="{{returnLink.target}}" class="return-link">the admin panel</a> and try
    to log in again.
</p>
<script>
    (function() {
        function log() {
            if (console && console.log) {
                console.log.apply(console, Array.prototype.slice.call(arguments));
            }
        }

        // Attach a listener to the return link to handle closing the window
        if (document.getElementsByClassName) {
            var returnLinks = document.getElementsByClassName('return-link');
            for (let i = 0, numReturnLinks = returnLinks.length || 0; i < numReturnLinks; i++) {
                returnLinks[i].addEventListener('click', function (event) {
                    if (event.target.href === '#') {
                        event.preventDefault();
                    }
                    window.close();
                }, false);
            }
        }

        if (window.opener) {
            /**
             * Handle message received from netflify-cms, completing the handshake
             * @param {MessageEvent} e
             */
            function receiveMessage(e) {
                log('Receiving message:', e);
                var origin = e.origin === 'null' ? false : e.origin;
                if (!origin || !origin.match({{{originPattern}}})) {
                    log('Invalid origin: %s', e.origin);
                    if (document.getElementsByClassName) {
                        var display = document.getElementsByClassName('display');
                        if (display && display.length) {
                            display[0].hidden = true;
                        }
                        var originError = document.getElementsByClassName('origin-error');
                        if (originError && originError.length) {
                            originError[0].hidden = false;
                        }
                    }
                    return;
                }

                // Remove our event listener to avoid an infinite loop
                window.removeEventListener('message', receiveMessage, false);

                // Send the message to netlify-cms
                var message = 'authorization:{{{oauthProvider}}}:{{{message}}}:{{{content}}}';
                log('Sending message:', message);
                window.opener.postMessage(message, origin);
            }
            window.addEventListener('message', receiveMessage, false);

            // Initiate handshake with netlify-cms
            var handshakeMessage = 'authorizing:{{{oauthProvider}}}';
            log('Sending message:', handshakeMessage);
            window.opener.postMessage(handshakeMessage, '*');
        } else {
            log('No opener. Not doing anything. Are you lost?');
        }
    })();
</script>
</body>
</html>
