{{#adminPanelLink}}
    <a href="{{adminPanelLink.url}}" target="{{adminPanelLink.target}}" class="close-link">the admin panel</a>
{{/adminPanelLink}}
{{^adminPanelLink}}
    the admin panel
{{/adminPanelLink}}
