<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{#title}}
        <title>{{title}}</title>
    {{/title}}
    {{#description}}
        <meta name="description" content="{{description}}">
    {{/description}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body { text-align: center; }
        .error { color: #ff6a6a; }
    </style>
</head>
<body>
